<header>
    <div class="container-fluid">
        <div class="row">
            <div class="alert alert-primary" role="alert">
                <a routerLink="/" class="btn btn-success">Shell/Host App</a> &nbsp;
                <!-- <a class="btn btn-primary" (click)="dispatchEventFromHostFn()">Send Data </a> &nbsp; -->
                <a class="btn btn-danger" [routerLink]="['protected']">Protected</a> &nbsp;
                <a class="btn btn-info" (click)="gotoWebComponent()">Web Component</a>
                <!-- <ul class="list-group list-group-horizontal">
                    <li class="list-group-item list-group-item-success"> <a routerLink="/">Shell/Host App</a></li>
                    <li class="list-group-item"><a (click)="dispatchEventFromHostFn()" class="cursor-pointer">Send
                            Data</a>
                    </li>
                    <li class="list-group-item list-group-item-info"><a [routerLink]="['protected']">Protected</a>
                    </li>
                    <li class="list-group-item list-group-item-dark"> <a routerLink="/dashboard">Dashboard</a></li>

                </ul> -->
            </div>
        </div>
    </div>
</header>

<mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" opened>
        <mat-list>
            <mat-list-item>
                <button mat-button color="primary" routerLink="/app1">App1</button>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-button color="primary" routerLink="/app2">App2</button>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
        <div class="container">
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>